.mainTitle {
	text-align:center;
	position: relative;
	top: 100px;
}
.mainTitle .logo {
	width:100px;
	vertical-align: middle;
	margin: 8px;
	border: 5px solid black;
	padding: 10px;
	box-shadow: 0 0 15px inset;
	
}
.mainTitle .text {
	vertical-align: middle;
}

.formContainer {
 width: 300px;
 margin: 0 auto;
}
.formContainer div {
 padding: 5px 0;
}
.formContainer label, .formContainer input {
 transition: all 0.5s ease-in-out;
}
.formContainer .invalid label {
 color: red;
}
.formContainer .invalid input[type='text'] {
 border-color: red;
}