<!doctype html>
<html>
	<head>
		<title>Base template</title>
		<link type="text/css" rel="stylesheet" media="all" href="css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
		<script src="js/main.js" defer></script>
		<script src="js/newsfeedModule.js" defer></script>
		<script src="js/newsfeedController.js" defer></script>
		<script src="js/newsfeedUrlConstants.js" defer></script>
		<script src="js/newsfeedDescriptionFilter.js" defer></script>
		<script src="js/toHtml.js" defer></script>
		<script src="js/articleComponents.js" defer></script>
		<script src="js/photoComponents.js" defer></script>
	</head>
	<body ng-app="app" ng-cloak>
		<!-- This is base template for testing -->

		<h1 class="mainTitle">
			<img class="logo" src="images/logo.png" alt=""/>
			<span class="text">Lecture 25 Newsfeed</span>
		</h1>

    <!--Popup starts-->
    <div class="newsfeed" ng-controller="newsfeed as newsfeed">
      <button type="button" ng-click="newsfeed.showEditPopup()">Add new article </button>
      <div class="popupForm" ng-show="newsfeed.editPopupVisible">

        <form action="#" name="newsfeed.newArticleForm" novalidate>
          <div class="formSection" >
          <span class="close" ng-click="newsfeed.hideEditPopup()">X</span>


            <p>Article Type</p>
            <select ng-model="newsfeed.newArticleModel.type">
            <option value="article">Article</option>
            <option value="photos">Photos</option>
            <option value="video">Video</option>
            </select>
          </div>

          <div class="formSection" >
            <p>Title</p>
            <input type="text" required ng-model="newsfeed.newArticleModel.title"/>
          </div>

          <div class="formSection" ng-show="newsfeed.newArticleModel.type === 'article' || newsfeed.newArticleModel.type === 'video'" >
            <p>Main Photo</p>
            <input type="text" ng-model="newsfeed.newArticleModel.mainPhoto"/>
          </div>

          <div class="formSection" ng-required="newsfeed.newArticleModel.type === 'article'" ng-show="newsfeed.newArticleModel.type === 'video' || newsfeed.newArticleModel.type === 'article'">
            <p>Description</p>
            <textarea
                   ng-model="newsfeed.newArticleModel.description"></textarea>
          </div>


          <div class="formSection" ng-required="newsfeed.newArticleModel.type === 'photos'" ng-show="newsfeed.newArticleModel.type === 'photos'" >
            <p>Photos</p>
            <div style="padding:3px; border: 1px solid grey"
                    ng-repeat="photo in newsfeed.newArticleModel.photos track by $index">
              <input type="text"
                     ng-model="newsfeed.newArticleModel.photos[$index]"/>
              <button type="button" ng-click="newsfeed.removePhoto[$index]">Remove photo</button>
            </div>
              <button type="button"ng-click="newsfeed.addPhoto()">Add photo</button>
          </div>

          <div class="formSection" ng-required="newsfeed.newArticleModel.type === 'video'" ng-show="newsfeed.newArticleModel.type === 'video'">
            <p>Video</p>
            <input type="text" ng-model="newsfeed.newArticleModel.video" />
          </div>
          <div>
            <div class="formSection" >
              <button type="button" ng-click="newsfeed.saveArticle()">Save</button>
            </div>
            <div class="formSection" >
              <button type="button" ng-click="newsfeed.hideEditPopup()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
      <!--Popup end-->

    <!--Article list starts-->
    <ul class="newsfeedList">
      <li ng-repeat="article in newsfeed.articles track by $index"
          ng-switch="article.type">




        <div class="photos"
             ng-switch-when="photos">
          <img ng-repeat="photo in article.photos track by $index"
                  ng-src="{{photo}}"/>
        </div>
        <div class="video"
             ng-switch-when="video">
          <a href="{{article-video}}" target="_blank">
            <img ng-src="{{article.mainPhoto}}" />
          </a>
        </div>

        <div class="editButtons">
          <button type="button" ng-click="newsfeed.showEditPopup(article)">Edit</button>
          <button type="button" ng-click="newsfeed.deleteArticle(article, $index)">Delete</button>
        </div>
      </li>
    </ul>
  <!--Article list ends-->
    </div>
	</body>
</html>